.father{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*--------------------------------------------------*/
body {
  background-color: rgb(255, 255, 255);
  margin: 0;

}
.image-container {
  position: relative;
  
  
}

.image-container::before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  /* background-size: cover; */
}

.image {
  display: block;
  width: 100%;
  height: 600px;
  /* filter:blur(4px); */
}

.text-1 {
  position:absolute;
    color: #e1d8d8;
    top:10%;
    margin: 1vmax 10vmax;
    margin-left:13vw;
    text-align: center;
}
.text-1 h1{
  font-size: 3.5vw;
}
.text-1 .line{
  margin-top:4vw;
  font-size: 1.8vw;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-gap: 10px; */
}

input {
  outline: none;
  border: none;
  width: 90%;
  border-radius: 10px;
}

.searchBar {
  position: absolute;
  bottom: 80px; /* Adjust this value to set the gap from the bottom */
  left: 50%;
  transform: translateX(-50%);
  width: 100%; /* Adjust the width as needed */
  background-color:black;
  color: #6a6aba;
  padding: 20px;
  text-align: center;
  /* border:solid #1f1818;
  border-radius: 100px; */
}


.searchBar h1 {
  font-size: 34px;
  margin-bottom: 30px
}

.searchBar h1 span {
  color: #ffffff;
}

.searchBar input {
  padding: 20px;
}

.searchBar input:nth-last-child(1) {
  background: #6a6aba;
  color: #ffffff;
}

/*-------------------------------------------------------------------------------------*/
/* new  Slider*/
.custom-slider {
  /* Slider container styles */
  margin: 100px;
  overflow: hidden; /* Ensure overflow is hidden for slider effect */
}

.slider-container {
  display: flex;
  gap: 10px; /* Adjust the gap between cards as needed */
  transition: transform 0.3s ease; /* Smooth transition for slider effect */
}

.slide {
  flex: 0 0 calc(25% - 20px); /* Show 4 slides per row; adjust width as needed */
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.slide:hover {
  transform: scale(1.05);
}

.slide .slide-card {
  padding: 10px;
}

.slide img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.slide-content {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 0 0 8px 8px;
}

/* Navigation buttons styles */
.slider-controls {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.slider-controls button {
  margin: 15px;
  padding: 12px 18px 12px 18px;
  border: none;
  /* border-radius: 5px; */
  background-color: #6a6aba; 
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider-controls button:hover {
  background-color: #a16fd5; 
}

.slider-controls span {
  font-size: 14px;
  margin: 0 10px;
}
.button-flex{
  color: #a16fd5;
}
.book-now-btn{
  color: white;
  background-color:#a16fd5;
  border: none;
  padding: 12px;
}





/*-----------------------------------------------------------------------*/
.heading h1{
  /* top: 55px; */
  font-weight: 500;
  opacity: 0.14;
  top:-5px;
  position:absolute;
  font-size: 60px;
}
.heading p{
  font-size: 20px;
}
.heading{
  position:relative;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: -50px;
}
.heading h2{
  font-size: 35px;
  padding-top: 8px;
}
/*------------------*/

/*--------------------------------------------------------------------------------------------------------------------------------*/
.section4{
  margin:10vw;
  margin-top: 10vw;
  background-color: #f8f5f9;
  
}
.section4_1{
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  /* flex-direction: column-reverse; */
  margin-left: 20px;
}
.section4 .div1{
  margin-right: 70px;
}
.section4 h1{
  font-size: 40px;
  margin: 20px;
  
  /* margin-top: 50px; */
}
.section4_1 .div1 p{
  font-size: 1.5vw;
  margin-top: 1vw;
  text-align: left;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section4_1  img{
  width:40vmax;
  height:30vmax;
  margin-bottom: 30px;
}
/*---------------------------------------------------------------------------------------------------------------------------------------*/

.footer {
  background-color: rgb(30, 27, 33);
  padding: 10px 20px;
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
.footer p{
  color: white;
}



/*  Resposives */

@media (max-width: 700px){
  .father{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    width: 100%;
  }

  .image-container {
    position: relative;
  }
  
  .image-container::before {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 28, 31, 0.5); 

  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    /* filter:blur(4px); */
  }
  
  .text-1 {
    position:absolute;
    color: #e1d8d8;
    top:10%;
    margin: 1vmax 5vmax;
    text-align: center;
  }
  .text-1 h1{
    font-size: 7vw;
  }
  .text-1 .line{
    margin-top:4vw;
    font-size: 4.5vw;
  }

  /* ----------------------------------- */
  
  .searchBar {
    position: relative;
    bottom: 0;
    
  }
  
  .container_flex_space{
    width: 100%; 
    background-color:black;
    color: #6a6aba;
  
    text-align: center;
  }
  
  .searchBar h1 {
    font-size: 4vmax;
    margin-bottom: 30px;
  }
  
  .searchBar h1 span {
    color: #ffffff;
  }
  
  .searchBar input {
    padding: 20px;
  }
  
  .searchBar input:nth-last-child(1) {
    background: #6a6aba;
    color: #ffffff;
  }

  .grid {
    display: flex;
    flex-direction: column;
    grid-gap: 2vw;
    align-items: center;
  }
  
  input {
    outline: none;
    border-radius: 2px;
    width:80%;
    /* height: 8vw; */
    
  }

  /* ----------------------------------------------- */

  .heading h1{
 
    font-weight: 500;
    opacity: 0.2;
    top:0px;
    position:absolute;
    font-size: 7vmax;
  }
  .heading p{
    font-size: 20px;
  }
  .heading{
    position:relative;
    margin:2vw;
  }
  .heading h2{
    font-size: 35px;
    padding-top: 8px;
  }
  /*------------------*/

  .custom-slider {
    /* Slider container styles */
    margin: 0px;
    overflow: hidden;
  }
  
  .slider-container {
    display: flex;
    gap: 10px; /* Adjust the gap between cards as needed */
    transition: transform 0.3s ease; /* Smooth transition for slider effect */
  }
  
  .slide {
    flex: 0 0 calc(25% - 20px); /* Show 4 slides per row; adjust width as needed */
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .slide:hover {
    transform: scale(1.05);
  }
  
  .slide .slide-card {
    padding: 10px;
  }
  
  .slide img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }
  
  .slide-content {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 0 0 8px 8px;
  }
  
  /* Navigation buttons styles */
  .slider-controls {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .slider-controls button {
    margin: 15px;
    padding: 12px 18px 12px 18px;
    border: none;
    /* border-radius: 5px; */
    background-color: #6a6aba; 
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .slider-controls button:hover {
    background-color: #a16fd5; 
  }
  
  .slider-controls span {
    font-size: 14px;
    margin: 0 10px;
  }
  .button-flex{
    color: #a16fd5;
  }
  .book-now-btn{
    color: white;
    background-color:#a16fd5;
    border: none;
    padding: 12px;
  }


  /* ------------------------------------------------------------- */
  
  .section4{
    margin:0;
    margin-top: 100px;
    background-color: #e1d4e8;
    overflow: hidden;
    
  }
  .section4_1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 0px;
    flex-direction: column-reverse;
  }
  .section4 .div1{
    margin: 3vw;
  }
  .section4 h1{
    font-size: 8.5vw;
    margin: 3vw;
  }
  .section4_1 .div1 p{
    font-size: 4vw;
    margin:0;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .section4_1  img{
    width:100%;
    height:auto;
    margin-bottom: 0vw;
  }
}